// variables

$dev:true;
$wrap-width:1006px;

$blue:#1D2841;
$darkblue:#081122;


$sans: 'ps-regular', sans-serif;
$sans_i: 'ps-italic', sans-serif;
$sans-l: 'ps-light', sans-serif;
$sans-li: 'ps_light-italic', sans-serif;

